<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<property scope="context" name="COLORIZER_COLORS" value="red@,yellow@,green@,cyan@,blue@" />
	<conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{h:mm:ss} %colorize(%-5level %logger{15}): %msg%n</pattern>
		</encoder>
	</appender>A

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
